/* Footer.css */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #00B7FF;
    text-decoration: none;
    margin: 0 5px;
}

.footer-content a:hover {
    text-decoration: underline;
}
